extends menu.pug
block datos
    div.row.m-0.mt-5.justify-content-center
        div.col-12.col-md-11.col-lg-10
            h3(id="busqueda")
            hr
            div.row(id="productos")

block script
    if nombre
        script var nombreProducto='#{nombre}'
    script(src="../javascript/default/busqueda.js")