extends menu.pug
block datos
    div.row.m-0.mt-5.justify-content-center
        div.col-12.col-md-11.col-lg-10
            h3 Carrito
            hr
            if productos
                
            else
                h2 No hay productos
block script
    script(src="../javascript/default/cesta.js")