extends menu.pug
block datos
  div.row.m-0.mt-5.ml-5  
    div.col-12
      div.carousel.slide.mb-5(id="carouselExampleIndicators" data-ride="carousel")
        ol.carousel-indicators
          li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
          li(data-target="#carouselExampleIndicators" data-slide-to="1")
          li(data-target="#carouselExampleIndicators" data-slide-to="2")
        div.carousel-inner(id="fotosCar" style="maxHeight:400px")
          
        a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Previous
        a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Next
      h3 Novedades
      hr
      div.row(id="productos")

      
  h1 Paga ya
  form(id="realizarPago", action="https://www.paypal.com/cgi-bin/webscr", method="post")
    input(name="cmd", type="hidden", value="_cart")
    input(name="upload" type="hidden" value="1")
    input(name="business" type="hidden" value="victordelojogalvan27@gmail.com")
    input(name="shopping_url" type="hidden" value="http://martin27.ddns.net:6969/")
    input(name="currency_code" type="hidden" value="EUR")
    input(name="return" type="hidden" value="http://martin27.ddns.net:6969/carro/pago/correcto")

    input(name="rm" type="hidden" value="2")
    input(name="item_number_1" type="hidden" value="1")
    input(name="item_name_1" type="hidden" value="prueba")
    input(name="amount_1" type="hidden" value="0.01")
    input(name="quantity_1" type="hidden" value="2")
    input(type="submit" value="pagar")
block script
  script(src="../javascript/default/index.js")
  if esta
    script alert("Holaaa")