extends menu.pug
block datos
  div.row.m-0.mt-5.ml-5  
    div.col-12
      h3 Novedades
      hr
      div.row(id="productos")

block script
  script(src="../javascript/default/index.js")
  if esta
    script alert("Holaaa")