extends menu.pug
block datos
    div.row.m-0.mt-5.justify-content-center
        div.col-12.col-md-6.col-lg-6
            div.row.p-5(id="mapa")
                
        div.col-12.col-md-6.col-lg-6
            div.row.p-5
                .col
                    h3(id="nombreEmpresa") s
                    h5(id="informacionEmpresa") sssssssssss
                    h5(id="emailContacto") Correo de contacto: 
block script
    script(src="../javascript/default/quienesSomos.js")