extends adminMenu.pug
append datos
  div.row.m-0.p-0.mb-2
    div.col-12.col-lg-6.m-0.p-2
      canvas(id="ganancias",style="heigth:40vh")
    div.col-12.col-lg-6.m-0.p-2
      canvas(id="pedidos",style="heigth:40vh")
  div.row.m-0.p-2.justify-content-center
    div.col-12.col-lg-8.m-0.p-0.mt-5
      canvas(id="pagos")
      

append script
  script(src="../javascript/chart/Chart.js")
  //script(src="javascript/graficas.js")
  script #{charts}