extends adminMenu.pug
append datos
  div.row.m-0.p-0.justify-content-center
    div.col-12.col-lg-6.col-xl-4.mt-5
      h4.mt-5 Nombre del sitio web:
      input.form-control.mt-3(type="text", name="nombreSitio" value=host id="nombreSitio")
      h4.mt-5 Puerto del sitio:
      input.form-control.mt-3(type="number", name="postSitio" value=port)
  h4.mt-5 Tema:
  div.row.m-0
    div.col-12.col-sm-6
      h6 Selecciona tema:
      div.text-left.ml-5
      each val in temas
        if val==tema
          div.custom-control.custom-radio
            input.custom-control-input(type="radio" id="tema"+val name="tema" checked)
            label.custom-control-label(for="tema"+val)=val
        else
          div.custom-control.custom-radio
            input.custom-control-input(type="radio" id="tema"+val name="tema")
            label.custom-control-label(for="tema"+val)=val
    div.col-12.col-sm-6.col-lg-5.col-xl-4
      h6 Inserta tema:
      small (Debe de ser un archivo .zip)
      div.custom-file.mt-3
        input.custom-file-input(type="file",id="tema",name="tema")
        label.custom-file-label(id="nombreTema",for="customFileLang") Selecciona tema
  button.mt-5.mb-5.btn.btn-outline-dark(id="guardar") Guardar
      
append script
  script(src="../javascript/admin/confSitio.js")