
.modal.fade:not(.in).left .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}



.modal.left .modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.modal.left .modal-dialog.modal-xl {
    min-width: 300px;
}

.modal.left .modal-content {
    min-height: 100vh;
    border: 0;
}
h1,h2,h3,h4,h5,h6{
    color:#282769;
}